<div style="letter-spacing: 20px;">
    <h3 style="text-align:center; font-size: 50px;">Определение дымообразования для полимерных материалов</h3>
    <br>
    <h3 style="text-align:center;">ГОСТ 24632-81</h3>
    <br>
    <h3 style="text-align:center;">Протокол № %1</h3>
    <br>
    <table cellpadding="40" cellspacing="0" width="90%" align="center" style="border-style:none;">
        <tr>
            <td align="center" style="text-align:right;">Дата проведения испытания</td>
        </tr>
        <tr>
            <td align="center" style="text-align:right;">%2</td>
        </tr>
    </table>
    <br>
    <table cellpadding="100" cellspacing="0" width="90%" align="center" style="border-width:8px;border-color:black;border-style:solid;">
        <tr>
            <td bgcolor="#add8e6" colspan="2">Образец</td>
        </tr>
        <tr>
            <td align="center" width="50%">Марка материала</td>
            <td align="center" width="50%">%3</td>
        </tr>
        <tr>
            <td align="center" width="50%">Номер партии</td>
            <td align="center" width="50%">%4</td>
        </tr>
        <tr>
            <td align="center" width="50%">Масса (г), толщина (мм)</td>
            <td align="center" width="50%">%5</td>
        </tr>
        <tr>
            <td align="center" width="50%">Рецептура</td>
            <td align="center" width="50%">%6</td>
        </tr>
        <tr>
            <td align="center" width="50%">Тип образца</td>
            <td align="center" width="50%">%7</td>
        </tr>
    </table>
    <br>
    <table cellpadding="100" cellspacing="0" width="90%" align="center" style="border-width:8px;border-color:black;border-style:solid;">
        <tr>
            <td bgcolor="#add8e6" colspan="2">Испытание</td>
        </tr>
        <tr>
            <td align="center" width="50%">Режим</td>
            <td align="center" width="50%">%8</td>
        </tr>
        <tr>
            <td align="center" width="50%">Плотность</td>
            <td align="center" width="50%">%9</td>
        </tr>
        <tr>
            <td align="center" width="50%">Примечание 1</td>
            <td align="center" width="50%">%10</td>
        </tr>
        <tr>
            <td align="center" width="50%">Примечание 2</td>
            <td align="center" width="50%">%11</td>
        </tr>
    </table>
    <br>
    <table cellpadding="100" cellspacing="0" width="90%" align="center" style="border-width:8px;border-color:black;border-style:solid;">
        <tr>
            <td bgcolor="#add8e6" colspan="2">Расчеты</td>
        </tr>
        <tr>
            <td align="center" width="50%">Dmax</td>
            <td align="center" width="50%">%12</td>
        </tr>
        <tr>
            <td align="center" width="50%">Dt2</td>
            <td align="center" width="50%">%13</td>
        </tr>
        <tr>
            <td align="center" width="50%">Dt4</td>
            <td align="center" width="50%">%14</td>
        </tr>
        <tr>
            <td align="center" width="50%">D16</td>
            <td align="center" width="50%">%15c</td>
        </tr>
        <tr>
            <td align="center" width="50%">tgA</td>
            <td align="center" width="50%">%16</td>
        </tr>
        <tr>
            <td align="center" width="50%">Kcp</td>
            <td align="center" width="50%">%17</td>
        </tr>
        <tr>
            <td align="center" width="50%">Uнп</td>
            <td align="center" width="50%">%18</td>
        </tr>
    </table>
</div>
<div style="page-break-before:always">&nbsp;</div>
